@media screen and (max-width: 980px) {
    .leading {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .about .content {
        width: 90%;
        margin: 200px auto;
    }

    .about-img {
        width: 100%;
    }

    .custom-btn {
        width: 100%;
        ;
    }

    .team {
        padding: 50px;
    }

    .form {
        width: 100%;
    }

    .contact {
        padding: 50px;
    }

    .footer-right {
        padding: 30px;
    }

    #orange_circle_2,
    #green_circle_1,
    #green_circle_2,
    #orange_line_1,
    #green_line_1,
    #black_line_1,
    #orange_circle_1,
    #green_line_2,
    #about_green_2,
    #contact_green_line_2,
    #contact_green_2,
    #contact_pruple_1,
    #contact_orange_1,
    #contact_red_1,
    #contact_green_line_1,
    #contact_green_1,
    #pink_line_1 {
        display: none;
    }

    #gray_line_1 {
        position: absolute;
        left: 0;
        top: 450px;
        right: 0;
        width: 100%;
        z-index: 999;
    }

    .card_img img{
        width: 100%;
    }

   .banner-title h1{
        font-size: 40px;
   }

   .about p{
        font-size: 24px !important;
   }

   .about .custom-btn{
        font-size: 18px !important;
   }

   .product h4{
    font-size: 18px !important;
   }

   .product p{
    font-size: 18px;
   }

   .product .custom-btn{
        font-size: 16px !important;
   }

   .cards h5, .cards h3, .cards p , .team h4, .team p{
    font-size: 18px !important;
   }

   .cards h1{
    font-size: 24px !important;
    font-weight: bolder;
   }

   .contact .custom-btn{
    font-size: 18px !important;
   }

   .contact p{
    font-size: 16px;
   }
}


@media screen and (max-width: 1800px) {
    body{
        background-color: tomato !important;
    }

    .menu{
        top: 90px;
    }

    .hidden-12{
        display: none;
    }
    
}



@media screen and (max-width: 1000px) {
    body{
        background-color: dodgerblue !important;
    }

    .menu{
        top: 70px;
    }

    .menu{
        top: 70px;
    }

    .investor-banner .content h1{
        font-size: 5vh;
        text-align: center;
    }

    .invest-about h1{
        text-align: center;
    }

    .invest-about .invest-item{
        padding: 10px;
        text-align: center;
        margin: 10px 0px;
    }

    .invest-about .invest-item p{
        padding: 0;
        margin: 0;
    }

    .invest-capablities .img-group img{
        width: 100%;
        margin: 20px 0;
    }

    .invest-capablities .img-group{
        padding: 0;
        margin: 0;
    }

    .invest-capablities .content{
        text-align: center;
    }

    .invest-capablities .content h1{
        padding: 0;
        margin: 0;
        font-size: 20px;
    }

    .invest-capablities .content p{
        text-align: center;
        font-size: 16px;
    }

    .invest-capablities{
        padding: 10px;
        margin: 10px;
    }

    .clients h2{
        text-align: center;
        letter-spacing: 4px;
        font-size: 24px;
    }

    .clients{
        padding: 10px;
        margin: 0px;
    }

    .management-team{
        padding: 70px 5px;
    }

    .management-team .main-title{
        font-size: 20px;
        letter-spacing: 3px;
    }

    .management-team p{
        padding: 0;
        margin: 0;
    }

    .management-team .content{
        margin: 20px 0px;
    }

    .certificate {
        padding: 50px 10px;
    }

    .certificate .content h1{
        text-align: center;
        font-size: 25px;
        letter-spacing: 5px;
    }

    .prees-section{
        padding: 50px 10px;
        text-align: center;
    }

    .prees-section h3{
        text-align: center;
    }

    .prees-section .content{
        margin: 20px 0px;
    }

    .custom-btn {
        margin: 10px;
        width: 300px !important;
    }

    footer{
        text-align: left;
    }

    footer .footer-left div{
        margin: 20px 0px;
    }

    footer .footer-right{
        padding: 30px;
        text-align: center;
    }

    .footer-btn{
        width: 100px;
        margin: 10px;
    }
}


@media screen and (max-width: 400px) {
    body{
        background-color: yellowgreen !important;
    }

    .menu{
        top: 70px;
    }

    .investor-banner .content h1{
        font-size: 5vh;
        text-align: center;
    }

    .invest-about h1{
        text-align: center;
    }

    .invest-about .invest-item{
        padding: 10px;
        text-align: center;
        margin: 10px 0px;
    }

    .invest-about .invest-item p{
        padding: 0;
        margin: 0;
    }

    .invest-capablities .img-group img{
        width: 100%;
        margin: 20px 0;
    }

    .invest-capablities .img-group{
        padding: 0;
        margin: 0;
    }

    .invest-capablities .content{
        text-align: center;
    }

    .invest-capablities .content h1{
        padding: 0;
        margin: 0;
        font-size: 20px;
    }

    .invest-capablities .content p{
        text-align: center;
        font-size: 16px;
    }

    .invest-capablities{
        padding: 10px;
        margin: 10px;
    }

    .clients h2{
        text-align: center;
        letter-spacing: 4px;
        font-size: 24px;
    }

    .clients{
        padding: 10px;
        margin: 0px;
    }

    .management-team{
        padding: 70px 5px;
    }

    .management-team .main-title{
        font-size: 20px;
        letter-spacing: 3px;
    }

    .management-team p{
        padding: 0;
        margin: 0;
    }

    .management-team .content{
        margin: 20px 0px;
    }

    .certificate {
        padding: 50px 10px;
    }

    .certificate .content h1{
        text-align: center;
        font-size: 25px;
        letter-spacing: 5px;
    }

    .prees-section{
        padding: 50px 10px;
        text-align: center;
    }

    .prees-section h3{
        text-align: center;
    }

    .prees-section .content{
        margin: 20px 0px;
    }

    .custom-btn {
        margin: 10px;
        width: 300px !important;
    }

    footer{
        text-align: left;
    }

    footer .footer-left div{
        margin: 20px 0px;
    }

    footer .footer-right{
        padding: 30px;
        text-align: center;
    }

    .footer-btn{
        width: 100px;
        margin: 10px;
    }
}