@media screen and (min-width: 1024px) and (max-width: 1600px){
    body{
        background-color: purple;
    }

    .nav-link{
        font-size: small;
    } 

    #rice_huck{
        width: 35%;
    }

    #business_green_circle_1{
        width: 10%;
    }

    #business_orange_circle_2{
        width: 20%;
    }

    #business_purple_circle{
        width: 20%;
        margin-top: -300px;
    }

    /* The Science */
    #science_top_ban{
        transition: all 2s ease;
        top: 160px !important;
    }

    #banner_red_circle{
        transition: all 2s ease;
        top: 450px !important;
        right: 450px !important;
    }

    /* Product */
    #product_oval_1{
        transition: all 2s ease;
        width: 40%;
        border-radius: 160px;
    }

    /* Invstors */
    #invest-img{
        width: 30%;
        transition: all 2s ease;
    }

    #banner_green_circle{
        transition: all 2s ease;
        right: 400px;
        width: 20% !important;
    }

    #invest_circle_circle{
        transition: all 2s ease;
        right: 60px;
        width: 20% !important;
    }

    #invest_red_circle_1{
        transition: all 2s ease;
        width: 20%;
        left: 130px;
    }

    #purple_circle_1{
        display: none;
    }

    #oval_1 , #oval_2 , #oval_3{
        width: 25%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    body{
        background-color: tomato;
    }

    #oval_1 , #oval_2 , #oval_3{
        display: none;
    }

    .business-banner .title h1{
        text-align: center;
        font-size: 40px;
    }

    .business-about .content{
        padding: 70px 0px;
        margin: 0;
        text-align: center;
    }

    .business-about .content h3{
        text-align: center;
    }

    .business-about .content h1{
        text-align: center;
        padding: 0;
    }

    .business-about .content p{
        text-align: center;
        padding: 0;
        margin: 20px 0px;
    }

    .business-gallary img{
        margin: 5px;
    }


    

    .nav-link{
        font-size: small;
    } 

    #rice_huck{
        width: 35%;
    }

    #business_green_circle_1{
        width: 10%;
    }

    #business_orange_circle_2{
        width: 20%;
    }

    #business_purple_circle{
        width: 20%;
        margin-top: -300px;
    }

    /* The Science */

    #science_top_ban{
        transition: all 2s ease;
        top: 160px !important;
    }

    #banner_red_circle{
        transition: all 2s ease;
        top: 400px !important;
        right: 200px !important;
    }
    
    .hidden-tb{
        display: none;
    }

    /* Product */


    /* Investor */
     /* Invstors */
     #invest-img{
        width: 35%;
        transition: all 2s ease;
    }

    #banner_green_circle{
        transition: all 2s ease;
        right: 300px;
        width: 20% !important;
    }

    #invest_circle_circle{
        transition: all 2s ease;
        right: 60px;
        width: 20% !important;
    }
    
    #purple_circle_1{
        display: none;
    }
}


@media screen and (max-width: 767px) {

    
    .hidden-12{
        display: none;
    }

    .about .about_title{
        letter-spacing: 3px;
        font-size: 25px;
    }

    .about .about_subtitle{
        letter-spacing: 2px;
        font-size: 20px;
        margin: 10px 0px;
    }

    .about .content p{
        font-size: 16px !important;
    }

    .about .about-btns{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .custom-btn{
        width: 100% !important;
        margin: auto;
        display: block !important;
    }

    .product h4{
        letter-spacing: 3px !important;
        font-size: 35px !important;
        padding: 0;
        margin: 50px 0;
    }

    .cards h5{
        letter-spacing: 2px;
    }

    .team h4{
        letter-spacing: 2px;
    }

    .team .item p{
        padding: 0;
        margin: 30 0;
    }

    .about-btn{
        width: 100% !important;
    }

    .btn-product{
        width: 100% !important;
    }


    .product-btn{
        margin: 0;
        padding: 0;
    }

    /* Science */

    .science_banner .content{
        padding: 100px 10px;
    }

    .science_banner .content h1{
        text-align: center;
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

    .science-info{
        text-align: center;
    }

    .science-info .science_item_1, .science-info .science_item_2{
        text-align: center;
        padding: 0;
        margin: 10px 0;
        font-size: 24px;
    }

    .invented{
        text-align: center;
    }

    .invented .number{
        text-align: center !important;
        font-size: 50px !important;
    }

    .invented .number_sub{
        padding: 0;
        margin: 10px 0;
        font-size: 30px !important;
    }

    .product_lifecycle{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .product_lifecycle .content{
        text-align: center;
        padding: 50px 5px;
        margin: 0;
        width: 100%;
    }

    .product_lifecycle .content h2{
        letter-spacing: 2px;
    }

    .product_lifecycle .content h1{
        padding: 10px;
        margin: 10px 0px;
        font-size: 25px;
    }

    .product_lifecycle .content p{
        text-align: center;
        padding: 10px;
    }

    .product_vedio .content h1{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }

    .product_vedio .content{
        margin: 0;
    }

    #banner_purple_circle{
        margin-top: 500px;
    }

    #play{
        margin-left: 70px;
    }

    /* Product */

    .product-category .category-btns a{
        display: block;
    }

    .product-banner{
        text-align: center;
    }

    .product-banner h1{
        font-size: 40px;
    }

    .product-banner p{
        text-align: center;
        padding: 0;
    }

    /* Business */
    .business-banner .title h1{
        text-align: center;
        font-size: 40px;
    }

    .business-about .content{
        padding: 70px 0px;
        margin: 0;
        text-align: center;
    }

    .business-about .content h3{
        text-align: center;
    }

    .business-about .content h1{
        text-align: center;
        padding: 0;
    }

    .business-about .content p{
        text-align: center;
        padding: 0;
        margin: 20px 0px;
    }

    .business-gallary img{
        margin: 5px;
    }




    #status{
        text-align: center;
        margin: 10px;
    }

    .leading {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .about .content {
        width: 90%;
        margin: 200px auto;
    }

    .about-img {
        width: 100%;
    }

    .custom-btn {
        width: 100%;
        ;
    }

    .team {
        padding: 50px;
    }

    .form {
        width: 100%;
    }

    .contact {
        padding: 50px;
    }

    .footer-right {
        padding: 30px;
    }

    #orange_circle_2,
    #green_circle_1,
    #green_circle_2,
    #orange_line_1,
    #green_line_1,
    #black_line_1,
    #orange_circle_1,
    #green_line_2,
    #about_green_2,
    #contact_green_line_2,
    #contact_green_2,
    #contact_pruple_1,
    #contact_orange_1,
    #contact_red_1,
    #contact_green_line_1,
    #contact_green_1,
    #pink_line_1 {
        display: none;
    }

    #gray_line_1 {
        position: absolute;
        left: 0;
        top: 450px;
        right: 0;
        width: 100%;
        z-index: 999;
    }

    .card_img img{
        width: 100%;
    }

   .banner-title h1{
        font-size: 40px;
   }

   .about p{
        font-size: 24px !important;
   }

   .about .custom-btn{
        font-size: 18px !important;
   }

   .product h4{
    font-size: 18px !important;
   }

   .product p{
    font-size: 18px;
   }

   .product .custom-btn{
        font-size: 16px !important;
   }

   .cards h5, .cards h3, .cards p , .team h4, .team p{
    font-size: 18px !important;
   }

   .cards h1{
    font-size: 24px !important;
    font-weight: bolder;
   }

   .contact .custom-btn{
    font-size: 18px !important;
   }

   .contact p{
    font-size: 16px;
   }

    .menu{
        top: 70px;
    }

    .investor-banner .content h1{
        font-size: 5vh;
        text-align: center;
    }

    .invest-about h1{
        text-align: center;
    }

    .invest-about .invest-item{
        padding: 10px;
        text-align: center;
        margin: 10px 0px;
    }

    .invest-about .invest-item p{
        padding: 0;
        margin: 0;
    }

    .invest-capablities .img-group img{
        width: 100%;
        margin: 20px 0;
    }

    .invest-capablities .img-group{
        padding: 0;
        margin: 0;
    }

    .invest-capablities .content{
        text-align: center;
    }

    .invest-capablities .content h1{
        padding: 0;
        margin: 0;
        font-size: 20px;
    }

    .invest-capablities .content p{
        text-align: center;
        font-size: 16px;
    }

    .invest-capablities{
        padding: 10px;
        margin: 10px;
    }

    .clients h2{
        text-align: center;
        letter-spacing: 4px;
        font-size: 24px;
    }

    .clients{
        padding: 10px;
        margin: 0px;
    }

    .management-team{
        padding: 70px 5px;
    }

    .management-team .main-title{
        font-size: 20px;
        letter-spacing: 3px;
    }

    .management-team p{
        padding: 0;
        margin: 0;
    }

    .management-team .content{
        margin: 20px 0px;
    }

    .certificate {
        padding: 50px 10px;
    }

    .certificate .content h1{
        text-align: center;
        font-size: 25px;
        letter-spacing: 5px;
    }

    .prees-section{
        padding: 50px 10px;
        text-align: center;
    }

    .prees-section h3{
        text-align: center;
    }

    .prees-section .content{
        margin: 20px 0px;
    }

    .custom-btn {
        margin: 10px;
        width: 300px !important;
    }

    footer{
        text-align: left;
    }

    footer .footer-left div{
        margin: 20px 0px;
    }

    footer .footer-right{
        padding: 30px;
        text-align: center;
    }

    .footer-btn{
        width: 100px;
        margin: 10px;
    }
}